services:
  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: odoo-pgbouncer
    restart: unless-stopped
    ports:
      - "5432:5432"
      - "6432:6432"
    volumes:
      - ./pgbouncer:/etc/pgbouncer
      - ./log:/var/log/pgbouncer
    environment:
      TZ: Asia/Jakarta
      DB_HOST: ${POSTGRES_HOSTNAME}
      DB_PORT: 5432
      DB_USER:  ${POSTGRES_USERNAME}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      # DB_NAME: ${POSTGRES_DATABASE}

      # PgBouncer config
      PGBOUNCER_LOG_LEVEL: DEBUG
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 200
      DEFAULT_POOL_SIZE: 50
      AUTH_TYPE: scram-sha-256
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - odoo-network

  odoo:
    image: odoo:19.0
    container_name: odoo-app
    # platform: linux/arm64
    restart: unless-stopped
    # depends_on:
      # - pgbouncer
    ports:
      - "${ODOO_PORT}:8069"
      - "${ODOO_LONG_POLLING_PORT}:8072"
    environment:
      PROXY_MODE: true
      LIST_DB: false
      # DBFILTER: ^%h$
      # # DBFILTER: .*
      # OE_ALLOW_DATABASES: false
    volumes:
      - ./data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./config:/etc/odoo
      #- ./config:/etc/odoo:ro # readonly
      - ./log:/var/log/odoo
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - odoo-network

networks:
  odoo-network:
    driver: bridge
